.Calendar {
  display: grid;
  grid-template-rows: 40px 20px 1fr 20px;
  grid-gap: 10px;
  height: 100vh;
}

.Calendar-header {
  display: grid;
  grid-gap: 10px;
  grid-row: 1;
  grid-auto-flow: row;
  background-color: #282c34;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.Calendar-navigation {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  grid-row: 2;
  padding: 0 10px;
}

.Calendar-day {
  display: grid;
  grid-row: 3;
  padding: 0 10px;
}

.Calendar-footer {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-row: 4;
  padding: 0 10px 10px;
}

.App {
  height: 100vh;
}

.App button {
  border-color: #000;
  background-color: #fff;
}

.App h1 {
  margin: 0;
  padding: 0;
}
