.Calendar {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 30% 50% 20%;
}

.Calendar-header {
  grid-column: 2;
  grid-row: 1;
  background-color: #282c34;
  display: -webkit-inline-box;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Day {
  grid-column: 2;
  grid-row: 2;
}

.Calendar-footer {
  grid-column: 2;
  grid-row: 3;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
